@{
    ViewData["Title"] = "Index";
}
<head></head>
<body>
<main>
<p>hola @ViewBag.username</p>

<h2>@ViewBag.pregunta.enunciado</h2>
@if(ViewBag.pregunta.foto != null){
    <img src="~/img/ViewBag.pregunta.foto">
}
<form action='@Url.Action("VerificarRespuesta")' method="post" id="form">
@foreach(Respuesta respuesta in ViewBag.respuestas){
    <input type="radio" id="@respuesta.Opcion" name="opcion" value="@respuesta.Opcion">
        <label for="@respuesta.Opcion">
        @respuesta.contenido
         @if(respuesta.fotoRes != null){
        <img src="~/img/respuesta.fotoRes">
        }
        </label><br>
  
}

<input type="hidden" id="res" name="respuesta" value="">


<button type="button" onClick="resultado()" id="verResultado">Ver Resultado</button>
<button type="submit" style="display:none"   id="avanzar">Continuar</button>

</form>
<p style="display:none" id="resultado"></p>
    
</main>
</body>


<script>

function resultado(){
const submit=document.getElementById("verResultado");
const avanzar=document.getElementById("avanzar");
const resultado=document.getElementById("resultado");
   let seleccion = document.querySelector('input[name="opcion"]:checked');
    if(seleccion==null){
         alert("Debe seleccionar una respuesta");
        return;
    }
    const res=document.getElementById("res");
    res.value=seleccion.value;
    submit.style.display='none';
    avanzar.style.display='block'; 
   const respuestas = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.respuestas));
    
    for(const respuesta of respuestas){
        let label = document.querySelector(`label[for="${respuesta.Opcion}"]`);
        let opcion=document.getElementById(respuesta.Opcion);
        opcion.disabled = true;
        if(respuesta.correcta){
            
            label.style.backgroundColor='green';
            if(seleccion.value==respuesta.Opcion){
                resultado.innerText="Respuesta Correcta";
            }
        }else{
            label.style.backgroundColor='red';
        }
    }
    if(resultado.innerText!="Respuesta Correcta"){
            resultado.innerText="Respuesta Incorrecta";
    }
    resultado.style.display='block';
 }
</script>