@{
    ViewData["Title"] = "Index";
}
<head>
  <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="jugar">
<main>
<h3>Hola, @ViewBag.username</h3>
<div>
<h2>@ViewBag.pregunta.enunciado</h2>
@if(ViewBag.pregunta.foto != null){
    <img src="~/img/ViewBag.pregunta.foto">
}

<form action='@Url.Action("VerificarRespuesta")' method="post" id="form">
            <input type="hidden" id="res" name="respuesta" value="" />
            <div id="opciones">

@foreach(Respuesta respuesta in ViewBag.respuestas){
    <div class="opcion" id="opcion-@respuesta.Opcion" onclick="seleccionarRespuesta('@respuesta.Opcion', @respuesta.correcta.ToString().ToLower())">
                        <p>@respuesta.Opcion. @respuesta.contenido</p>
                        @if (respuesta.fotoRes != null) {
                            <img src="~/img/@respuesta.fotoRes" />
                        }
                    </div>
  
}
            </div>
</form>
   <div id="resultado"></div>
        <button id="continuar" style="display:none" onclick="continuar()">Continuar</button>
    </div>
</main>
</body>

<script>
     function seleccionarRespuesta(opcionSeleccionada, esCorrecta) {
        document.getElementById("res").value = opcionSeleccionada;

        document.querySelectorAll(".opcion").forEach(opcion => {
            opcion.onclick = null; 
        });

        document.querySelectorAll(".opcion").forEach(opcion => {
            const opcionId = opcion.id.replace('opcion-', '');
            if (opcionId === opcionSeleccionada) {

                if (esCorrecta === 'true') {
                    opcion.style.backgroundColor = "green";
                } else {
                    opcion.style.backgroundColor = "red"; 
                }
            } else {
                opcion.style.backgroundColor = "lightgray"; 
            }
        });

        const resultado = document.getElementById("resultado");
        resultado.innerText = esCorrecta === 'true' ? "Respuesta Correcta" : "Respuesta Incorrecta";
        resultado.style.color = esCorrecta === 'true' ? "green" : "red";
        resultado.style.display = "block";
        const continuarButton = document.getElementById("continuar");
        continuarButton.style.display = "inline-block";
    }

    function continuar() {
        document.getElementById("form").submit();
    }
</script>