@{
    ViewData["Title"] = "Juego";
}
<head>
  <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="jugar">
  
<main>
<h3>¡Buena suerte @ViewBag.username!</h3>

<h2>@ViewBag.pregunta.enunciado</h2>
@if(ViewBag.pregunta.foto != null){
    <img src="~/img/ViewBag.pregunta.foto">
}
<form action='@Url.Action("VerificarRespuesta")' method="post" id="form">
@foreach(Respuesta respuesta in ViewBag.respuestas){
    <button type="button" id="@respuesta.Opcion" name="opcion" value="@respuesta.Opcion" onClick="resultado('@respuesta.Opcion')"> 
    @respuesta.contenido  @if(respuesta.fotoRes != null){
        <img src="~/img/respuesta.fotoRes">
        }
    </button>
  
}
<input type="hidden" id="res" name="respuesta" value="">

<button type="submit" style="display:none"  id="avanzar">Continuar</button>

</form>    
</main>

</body>


<script>

function resultado(respuestaSeleccionada){
const avanzar=document.getElementById("avanzar");
const resultadoo=document.getElementById("res");
resultadoo.value=respuestaSeleccionada;
   avanzar.style.display='block'; 
   const respuestas = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.respuestas));
    for(const respuesta of respuestas){
        
         if (respuesta.Opcion==respuestaSeleccionada){
            aEvaluar=respuesta
        } 
        let opcion=document.getElementById(respuesta.Opcion);
        opcion.disabled = true;
        opcion.style.border='2px solid white'
    }
    let opcion=document.getElementById(aEvaluar.Opcion);
        if(aEvaluar.correcta){
            
            opcion.style.backgroundColor='#1dc71dfa';
        }else{
            opcion.style.backgroundColor='#dd1d1de6';
        }
 }
</script>